# Logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov
lcov.info

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# sqlite files
*.sqlite
*.sqlite-wal
*.sqlite-shm
